[submodule "py_odrive"]
	path = py_odrive
	url = https://github.com/uwrobotics/py_odrive.git
[submodule "uwrt_ros_msg"]
	path = uwrt_ros_msg
	url = https://github.com/uwrobotics/uwrt_ros_msg.git
[submodule "json_transport"]
	path = json_transport
	url = https://github.com/uwrobotics/json_transport.git
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/uwrobotics/nlohmann_json.git
