[submodule "uwrt_ros_msg"]
	path = uwrt_ros_msg
	url = https://github.com/uwrobotics/uwrt_ros_msg.git
[submodule "ODrive-Driver"]
	path = ODrive-Driver
	url = git@github.com:uwrobotics/ODrive-Driver.git
